<!DOCTYPE html>
<html>
<head>
    <title>♥이겸문의 로맨틱 SSID♥</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="upload-container">
        <img src="{{ url_for('static', filename='images/title.png') }}" class="title-image" alt="Title">
        
        <div class="character">
            <img src="{{ url_for('static', filename='images/character.png') }}" alt="Character">
        </div>
        
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label class="custom-file-upload">
                <input type="file" name="file">
                Choose a File
            </label>
            <br>
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>

